.DS_Store
node_modules
/build
static
/.svelte-kit
/package
.env
.env.*
!.env.example
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.editorconfig
.vscode
src/routes/test
src/lib/assets
vite.config.ts.timestamp-*
.env_dev.annuaire.medica.im
.env_dev.saint-esprit-sante.fr
.env_annuaire.cptsopalesud.fr
