{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/addressbook.css' %}" type="text/css" />
{% endblock %}

{% block content %}
{% include "addressbook/links.html" %}

<div class="wrapper">
<form action="{% url "addressbook:add_group" %}" method="post"> {% csrf_token %}
<fieldset class="inlineLabels">
<h2>Add a contact group</h2>
{{ form|crispy }}
<div class="buttonHolder">
<input type="submit" class="btn btn-primary" value="Add Group" />
</div>
</fieldset>
</form>
</div>
{% endblock %}
