{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailuserbar %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
{% wagtailuserbar %}

{% if "Root" != page.get_parent|stringformat:"s"  %}
<a href="{% pageurl page.get_parent %}">Back to index</a>
{% endif %}

    {{ page.title }}
    {{ page.body|richtext }}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% for block in self.content %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}